<div class="login-wrapper" fxLayout="row" fxLayoutAlign="left center">

  <mat-card class="box">
    <mat-card-header>
      <mat-card-title>RegisterAccount</mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <img mat-card-avatar src="{{avatar.path}}">

      <mat-form-field class="example-full-width">
        <input type="text" formControlName="username" class="form-control" matInput placeholder="Username">
      </mat-form-field>

      <div style="margin-top: 10px;">
        <div *ngIf="registerForm.get('username').status === 'PENDING'">
          Checking the availability of username...
        </div>
        <div *ngIf="registerForm.get('username').status === 'VALID'" style="color: green; font-weight: 600;">
          Username is available!
        </div>

        <div *ngIf="registerForm.get('username').errors && registerForm.get('username').errors.usernameTaken" style="color: red; font-weight: 600;">
          Sorry, this username is already taken!
        </div>
      </div>

      <mat-form-field class="example-full-width">
        <input type="text" formControlName="displayname" class="form-control" matInput placeholder="Display Name">
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <input type="email" formControlName="email" class="form-control" matInput placeholder="Email">
        <div style="margin-top: 10px;">
          <div *ngIf="registerForm.get('email').status === 'PENDING'">
            Checking the availability of username...
          </div>
          <div *ngIf="registerForm.get('email').status === 'VALID'" style="color: green; font-weight: 600;">
            Success, email address is not registered!
          </div>

          <div *ngIf="registerForm.get('email').errors && registerForm.get('email').errors.emailTaken" style="color: red; font-weight: 600;">
            Sorry, this email address is already registered!
          </div>
        </div>
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <input type="password" formControlName="password" class="form-control" matInput placeholder ="Password between 8-20 characters without spaces">
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <input type="password" formControlName="confirmPassword" class="form-control" matInput placeholder="Re-enter your password">
      </mat-form-field>
      <button mat-stroked-button color="black" class="btn-block" (click)="onRegister()">Register</button>
    </mat-card-content>
  </mat-card>
</div>
