<mat-toolbar color="primary" class="app-header">
  <span class="nav-tool-items">
    <a mat-button routerLink="login" routerLinkActive="active">Log in</a>
    <a mat-button routerLink="/register" routerLinkActive="active">RegisterAccount</a>
  </span>
</mat-toolbar>

<router-outlet></router-outlet>

<div class="mat-footer-cell" id="social-platforms">
  <a class="btn btn-icon btn-facebook" href="#"><i class="fa fa-facebook"></i><span>Facebook</span></a>
  <a class="btn btn-icon btn-twitter" href="#"><i class="fa fa-twitter"></i><span>Twitter</span></a>
  <a class="btn btn-icon btn-pinterest" href="#"><i class="fa fa-pinterest"></i><span>Pinterest</span></a>
  <a class="btn btn-icon btn-linkedin" href="#"><i class="fa fa-linkedin"></i><span>LinkedIn</span></a>
</div>

<div class="footer-copyright text-center py-3">© 2020 Copyright

</div>
