<div class="searchbox">
    <small id="emailHelp" class="form-text text-muted">Type at least the first 4 characters of the username to start searching.</small>
    <input type="text" [formControl]="queryField" class="form-control form-control-lg" placeholder="Search username here" autofocus>
</div>
<div *ngIf="change$ | async as userData" style="margin: 50px;">
    <div class="eachPeople" *ngFor="let user of userData">
        <div class="imgBox"><img [src]="user.avatarSet ? user.imageUrl : 'https://www.w3schools.com/howto/img_avatar.png'" alt="profile pic" class="img-thumbnail rounded-circle" height="100px" width="100px"></div>
        <div class="details">
            <div class="name" (click)="selectUser(user.id)">{{changeCase(user.name)}}</div>
            <div class="uname">@{{user.username}}</div>
        </div>
    </div>
</div>

